body { 

.selector {
  background-image: url('https://publish-01.obsidian.md/access/558c54770452dfac7771dd3b4b4b31c7/z_Images/Die%20GIF.webp');
  /* Adjust other styles as needed */
  background-size: cover;
  background-position: center;
}

}
