body { 
.cm-hmd-internal-link .cm-underline, .internal-link {
text-decoration: initial !important
} 

Centered H1
/* EDIT MODE */

.HyperMD-header.HyperMD-header-1 {
    text-align: center;
}

/* PREVIEW MODE */

.markdown-preview-view h1 {
    text-align: center;
}

}
