body { 
h1, h2, h3, h4, h5, h6 {
  background-image: linear-gradient(to bottom, #4e4376, #2b5876);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  text-align: center;
}

/* Font */  
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

body {
  font-family: 'Agdasima', sans-serif;
}

  
}
