<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nothing here</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <div class="content centered">
            {%-if not meta.themeStyle%}
                <div class="font-bg"> &#x1F60E; </div>
            {%endif%}
            <h1>There is nothing here</h1>
            <p>How'd you get here?</p>
            <a href="/">Go back home</a>

            <!-- Insert the image here -->
            <img src="https://media.istockphoto.com/id/1344566799/vector/shout-oops-in-a-cloud-of-comic-style-dialogue-colored-badge-for-printing-stickers-stripes.jpg?s=612x612&w=0&k=20&c=2RCX6zQbmG-bWQQFeNoyZ-O4TiisYGfHmU_m2TpseNc=" alt="Oops Image">
        </div>
    </body>
</html>
